<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/styles.css">
        <link rel="icon" href="../static/images/icon.png">
        <title>Add a super review!</title>
    </head>
    <body>
        <div class="light-effect"></div>
        <header>
            <img src="../static/images/logo.png">
            <a href="../static/HTML/index.html">Back to Home Page</a>
        </header>
        <main class="container">
            <script src="../static/JS/review.js"></script>
        </main>
        {% include 'footer.html' %}
    </body>
</html>