<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ place.title }} - HBnB</title>
        <link rel="stylesheet" href="../static/CSS/reviews.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="iconc" href="../static/images/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>   
    <body data-place-id="{{ place.id }}">
        <header id="header">
            <img src="../static/images/logo.png" id="logo">
            <h1 class="title">{{ place.title }}</h1>
            <a href="../static/index.html" class="cool-button">Back home</a>
        </header>
        <main>
            <div class="light-effect"></div>
            <section class="gallery-carousel">
                {% if place.photos_url %}
                    <div class="carousel">
                    <button class="carousel-btn prev">‹</button>
                    <div class="carousel-track-container">
                        <div class="carousel-track">
                        {% for url in place.photos_url %}
                            <div class="carousel-slide">
                            <img src="{{ url }}" alt="Photo du logement">
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <button class="carousel-btn next">›</button>
                </div>
                {% else %}
                    <p>There are no photos here</p>
                {% endif %}
            </section>

            <section class="description">
                <p class="desc-text">{{ place.description }}</p>
            </section>
            <div class="side-by-side-container">
                <section id="reviews-section" data-place-id="{{ place.id }}">
                    <h2>Reviews</h2>
                    <ul id="reviews-list"></ul>
                </section>
            
                <section class="amenities" id="amenities-section" data-amenity="{{ place.amenities | map(attribute='id') | join(',') }}">
                    <h2>Amenities</h2>
                    <ul id="amenities-list">
                        <li>Loading amenities</li>
                    </ul>
                </section>
            </div>
            {% if place.price < 5 %}
                <p class="desc-price"><em>Luxury have no price, but here you can spend : {{ place.price }}€ for the best time of your life.</em></p>
            {% else %}
                <p class="desc-price"><strong>Only {{ place.price }}€ for this luxurious place.</strong></p>
            {% endif %}
        <div class="place-average-rating" id="rating-container" data-rating="{{ place.rating }}"></div>
            <div class="align">
                <a href="{{ url_for('place_pages.booking', place_id=place.id) }}" id="book-button" class="cool-button">Book this place now!</a>
            </div>
            <button id="show-review-form-btn" class="btn btn-primary cool-button" style="display: none;">
                Add a review
            </button>
            <div id="review-card-container" class="card mt-3">
                <div class="card-body">
                    <form id="review-form">
                        <div class="mb-3">
                            <label for="review-text" class="form-label">Your review</label>
                            <textarea class="form-control" id="review-text" name="text" rows="3" required></textarea>
                        </div>
                        <fieldset class="rating interactive-rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <input type="hidden" id="review-rating-value" name="rating" value="0" />
                        <button type="submit" class="btn btn-success cool-button">Submit</button>
                    </form>
                </div>
            </div>
        </main>
        <script type="module" src="{{ url_for('static', filename='JS/place_details.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        {% include 'footer.html' %}
    </body>
</html>