<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/CSS/styles.css" />
  <link rel="icon" href="../static/images/icon.png" />
  <title>Profile</title>
</head>
<body>
  <div class="light-effect"></div>

  <header id="header">
    <img src="../static/images/logo.png" alt="Logo" id="logo"/>
    <a href="../static/index.html">Go back home</a>
  </header>

  <main class="container">
    <div id="profile-container"></div>

    <button id="edit-profile-btn">Edit your profile</button>

    <form id="edit-form" class="hidden">
      <input type="text" id="edit_first_name" placeholder="First name" />
      <input type="text" id="edit_last_name" placeholder="Last name" />
      <input type="email" id="edit_email" placeholder="Email" />
      <input type="text" id="edit_photo_url" placeholder="Photo URL" />

      <button id="save-edit">Save</button>
      <button type="button" id="cancel-edit">Cancel</button>
    </form>

    <button id="add-place-btn">Add a new place</button>

    <form id="add-place" class="hidden">
      <input type="text" id="place-title" placeholder="Title" />
      <input type="text" id="place-description" placeholder="Description" />
      <input type="number" id="price" placeholder="Price" />
      <input type="number" id="latitude" placeholder="Latitude" />
      <input type="number" id="longitude" placeholder="Longitude" />
      <input type="text" id="amenity_ids" placeholder="Amenities" />
      <input type="text" id="photos_url" placeholder="Photos (URL)" />

      <button id="save-place">Create your place</button>
      <button type="button" id="cancel-place">Cancel</button>
    </form>
    <h2 class="user-places">Your places:</h2>
    {% if user.places and user.places | length > 0 %}
      <ul id="user-places-list">
      {% for place in user.places %}
      <li class="place-item"
      data-place-id="{{ place.id }}"
      data-title="{{ place.title }}"
      data-description="{{ place.description }}"
      data-price="{{ place.price }}">
        <img src="{{ place.photos_url[0] }}" />
        <strong>{{ place.title }}</strong> - {{ place.description }} - Price: {{ place.price }}€
        <div class="edit-form-container hidden"></div>
      </li>
  
      {% endfor %}
    </ul>
    {% else %}
      <p>You don't have places for the moment</p>
    {% endif %}
  </main>
  <script type="module" src="../static/JS/profile.js"></script>
  {% include 'footer.html' %}
</body>
</html>