<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/CSS/profile.css" />
  <link rel="icon" href="../static/images/icon.png" />
  <title>Profile</title>
</head>
<body>
  <div class="light-effect"></div>

  <header id="header">
    <img src="../static/images/logo.png" alt="Logo" id="logo"/>
    <a href="../static/index.html">Go back home</a>
  </header>

  <main class="container">
    <div id="profile-container"></div>
    <div id="global-edit-form-container" class="edit-form-container"></div>

    <div class="button-container">
      <button id="edit-profile-btn">Edit your profile</button>
      <button id="add-place-btn">Add a new place</button>
    </div>

    <form id="edit-form">
      <input type="text" id="edit_first_name" placeholder="First name" class="form-control" />
      <input type="text" id="edit_last_name" placeholder="Last name" class="form-control" />
      <input type="email" id="edit_email" placeholder="Email" class="form-control" />
      <input type="text" id="edit_photo_url" placeholder="Photo URL" class="form-control" />
    
      <button id="save-edit">Save</button>
      <button type="button" id="cancel-edit">Cancel</button>
    </form>
    
    <form id="add-place">
      <input type="text" id="place-title" placeholder="Title" class="form-control" />
      <input type="text" id="place-description" placeholder="Description" class="form-control" />
      <input type="number" id="price" placeholder="Price" class="form-control" />
      <input type="number" id="latitude" placeholder="Latitude" class="form-control" />
      <input type="number" id="longitude" placeholder="Longitude" class="form-control" />
      <label for="amenity_ids">Amenities</label>
      <select id="amenity_ids" multiple class="form-control" style="height: 150px;">
      </select>
      <input type="text" id="photos_url" placeholder="Photos (URL)" class="form-control" />

      <button id="save-place">Create your place</button>
      <button type="button" id="cancel-place">Cancel</button>
    </form>
    
    <h2 class="user-places">Your places:</h2>
    {% if user.places and user.places | length > 0 %}
      <ul id="user-places-list">
      {% for place in user.places %}
      <li class="place-item"
      data-place-id="{{ place.id }}"
      data-title="{{ place.title }}"
      data-description="{{ place.description }}"
      data-price="{{ place.price }}"
      data-latitude="{{ place.latitude }}"
      data-longitude="{{ place.longitude }}"
      data-amenities="{{ place.amenities }}"
      data-photos-url="{{ place.photos_url | join(',') }}">
        <img src="{{ place.photos_url[0] }}" />
        <strong>{{ place.title }}</strong> - {{ place.description }} - Price: {{ place.price }}€
      </li>
      {% endfor %}
    </ul>
    {% else %}
    {% endif %}
  </main>
  <script type="module" src="../static/JS/profile.js"></script>
  {% include 'footer.html' %}
</body>
</html>